.ImageContainer
{
    width:1250px;
    display:flex;
    margin-top:30px;
    margin-left:28px;
    gap:80px;
    flex-direction:row;
    margin-bottom: 30px;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items:center;
    border:none;
}
.containers {
  position: relative;
  width: 300px !important;
  height:250px !important;
  border:none;
}

.image {
  display: block;
  width: 100%;
  /* object-fit: cover; */
  height: 100%;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.containers:hover .overlay {
  opacity: 0.5;
  background-color:black;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  display:flex;
  gap:7px;
  justify-content: center;
  align-content: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}